.cart--container {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: baseline;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem black;
  padding: 1rem;
  margin: 2rem;
}
.main--body {
  display: flex;
  justify-content: center;
}
