.card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
/* for text */
.align--right {
  text-align: right;
}
/* buttons below image */

.large--divider {
  width: 25rem;
}
@media screen and (max-width: 480px) {
  .card--container {
    width: 80%;
    position: unset;
  }
  .image--detail {
    object-fit: contain;
    width: 100%;
    position: relative;
    height: unset;
  }
  .large--divider {
    width: 12rem;
  }
}
.breake--graphics {
  width: 20rem;
}
