.paragraph--payment {
  width: 100%;
  text-align: left;
}
.div--textarea {
  width: 100%;
  position: unset;
}
.input--range {
  accent-color: black;
}

.placeholder::placeholder {
  font-family: "Jura", sans-serif;
}
.boldLinks {
  font-family: "Jura", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}
