@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: black;
  --background-rgb: 225, 226, 227;
  --primary-color: 225, 226, 227;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
  margin: 1rem;
}

/* 
.input-primary {
  background-color: pink;
} */
.container {
  padding: 1rem;
}
.filterbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
fieldset {
  border: solid white 1px;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
