@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dosis:wght@200&family=Jura:wght@300&family=Orbitron:wght@500&family=Pixelify+Sans&family=Source+Code+Pro&display=swap");
:root {
  --text-color: rgb(91, 91, 91);
  --text-contrast-color: rgb(206, 206, 206);
  --background-color: rgb(255, 255, 255);
  --primary-color: rgb(106, 0, 220);
  --title-font: "Audiowide", sans-serif;
  --text-font: "Jura", sans-serif;
}

.div--navigation {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.navigation--links {
  text-decoration: none;
  color: var(--text-contrast-color);
  font-family: var(--title-font);
}
body {
  font-size: 1.2rem;
  display: flex;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  align-items: center;
}
h2 {
  color: var(--primary-color);
  font-family: var(--title-font);
}
h3 {
  font-family: var(--title-font);
  color: var(--text-color);
}
button {
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 6rem;
  background-color: grey;
  border: none;
}

/* USER STORY 0 ENTRANCE PAGE*****-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_*/
.logo {
  padding-top: 12rem;
}
.title--home {
  font-family: var(--title-font);
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-color);
}
.div--home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
/* USER STORY 1 FORM*****-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_*/
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
fieldset {
  border: solid var(--primary-color) 1px;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
legend {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--text-contrast-color);
}
/* USER STORY 2 WORKS GRID*****-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_*/
.filterbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.cards--container {
  height: 50rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.button--navigation {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: var(--text-contrast-color);
  background-color: white;
  border: none;
  box-shadow: 0 9px #999;
  font-family: var(--title-font);
}

.button--navigation:hover {
  background-color: grey;
}

.button--navigation:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* USER STORY 3 DETAILS *****-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_*/
.buttons--container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.card--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.btn {
  padding: 0.3em 0.9em;
  border-radius: 300px;
  border: none;
  font-size: 1.1rem;
  margin-block: 0.5rem;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}

/* USER STORY ADMIN*****-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_-*_*_*/
.card--card {
  position: relative;
}
.container--admin {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.crud {
  border-radius: 3rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 1px blueviolet;
  background-color: white;
}
.div--center {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* login buttons */
.login {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--primary-color);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login:hover span {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
}

.div--center {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 601px) {
  body {
    justify-content: center;
    margin: 0rem 6rem 6rem 6rem;
  }
  fieldset {
    width: 60rem;
  }
  .title--home {
    font-size: 1.2rem;
  }
  .logo {
    padding-top: 5rem;
  }
}
