.closebtn {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  margin-bottom: 1rem;
  background-color: transparent;
}
.closebtn:hover {
  background-color: initial;
}

.openbtn {
  position: fixed;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}

/* When the sidebar is open, expand the width to 10rem */
@media screen and (max-width: 480px) {
  .openbtn {
    top: 0;
    left: -1rem;
  }
  .openbtn:hover {
    background-color: initial;
  }
  .closebtn {
    position: fixed;
    top: 0;
    left: -1rem;
  }
}
