/* animated login buttons */

.div--center {
  margin: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  width: 10rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.login .loginSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login .loginSpan:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login:hover .loginSpan {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
}

/* 

.login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login:hover span {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
} */
